<section id="main-section" class="page-section header">
    <div class=" main-title ">

        <span class="title ">Projet de virtualisation<br></span>
        <span class="text-flip ">
                <span class="flip flip-angular ">Angular.</span>
        <span class="flip flip-docker ">Docker.</span>
        <span class="flip flip-kubernetes ">Kubernetes.</span>
        <span class="flip flip-git ">Git.</span>
        <span class="flip flip-matthias ">Matthias.</span>
        <span class="flip flip-alexandre ">Alexandre.</span>
        </span>

    </div>
</section>